.imagenProducto{
    max-width: 100%;
    max-height: 100%;
}

.miniaturaProducto{
    height: 30%;
    max-width: 50%;
    max-height: 50%;
    width: auto;
}

.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 1%;
    margin-bottom: 1.5%;
    height: 30px;
    text-align: center;
}

.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

.fileUpload .control-label{
    padding-bottom: -8px;
}

#uploadFile{
    width: 75%;
    height: 25px;
}
